{% extends "homepage/base.html" %}
{%load static%}

{% block content %}
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Về VS-Pro Của Chúng Tôi</h1>
				</div>
			</div>
		</section>
		

		<!-- /container -->


	<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2 style="text-align:center">Người Sáng Lập</h2>
					<p style="text-align:center">Những Thành Viên Đã Tạo Dựng Nên VS-Pro</p>
				</div>
				<div class="row justify-content-between">
					<div >
						
						<p style="text-align:center">Chúng tôi là nhóm bao gồm 6 sinh viên khóa 41 ngành Sư phạm Tin học trực thuộc khoa CNTT trường đại học Sư Phạm TP.HCM. VS-Pro Learning System ra đời với vai trò là sản phẩm của Khóa Luận Tốt Nghiệp được chúng tôi thực hiện bằng tất cả những kiến thức, kỹ năng và hiểu biết trong suốt quá trình gần 4 năm theo học tại trường. Xin trân trọng giới thiệu.</p>
						
					</div>
				</div>
				<!--/row-->
			</div>
		</div>

		<div class="bg_color_1" >
			<div class="container margin_120_95" >
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Đỗ Như Ý</h2>
					<p>Team Leader</p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal" style="border-radius: 100%"></div>
							<img src="http://via.placeholder.com/800x533/ccc/fff/course_1.jpg" class="img-fluid" alt="">
						</figure>
					</div>
					<div class="col-lg-5" style="text-align:justify">
						<a><strong>Giới tính:</strong> Nữ<br><br>
						<a><strong>Xuất thân:</strong> Là Sinh viên lớp SPTin A, ngành Sư phạm Tin học khóa 41, trực thuộc khoa CNTT, Trường Đại học Sư phạm TP.HCM</a><br><br>
						<a><strong>Chức vụ:</strong> Team Leader VSPro Team</a><br><br>
						<a><strong>Phụ trách:</strong> Thiết kế Website, Kiểm thử hệ thống,Tổng hợp và phân phối nhiệm vụ, Phát triển nội dung bài dạy</a><br><br>
						<a><strong>Châm ngôn:</strong><br>
	 					Giáo dục là nhũng gì còn đọng lại sau khi chúng ta đã quên những gì đã học ở trường<br>
						<i>(Education is what remains after one has forgotten what one has learned in school)</i><br>
						<p style="text-align:right"><i><strong>Albert Einstein</strong></i></p></a></a>
					</div>
				</div>
				<!--/row-->
			</div>


			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Nguyễn Võ Phi Long</h2>
					<p>Phụ trách: Thiết Lập Website - Bảo Trì Hệ Thống</p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-5" style="text-align:justify">
						<a><strong>Giới tính:</strong> Nam<br><br>
						<a><strong>Xuất thân:</strong> Là Sinh viên lớp SPTinA ngành Sư phạm Tin học khóa 41, trực thuộc khoa CNTT, Trường Đại học Sư phạm TP.HCM</a><br><br>
						<a><strong>Chức vụ:</strong> Teamer thuộc phân hệ “ Alice 3D – Say Mê Sáng Tạo”</a><br><br>
						<a><strong>Phụ trách:</strong> Thiết lập Website,Kiểm thử và bảo trì hệ thống, hỗ trợ Xây dựng và Phát triển CSDL hệ thống nói chung và phân hệ “ Alice 3D – Say mê sáng tạo “ nói riêng</a><br><br>
						<a><strong>Châm ngôn:</strong><br>
	 					Mục tiêu của việc dạy dỗ học trò là làm cho trò có khả năng thích nghi với việc không có người thầy<br>
						<i>(The object of teaching a child is to enable him to get along without a teacher)</i><br>
						<p style="text-align:right"><i><strong>Elbert Hubbard</strong></i></p></a></a>
					</div>
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="http://via.placeholder.com/800x533/ccc/fff/course_1.jpg" class="img-fluid" alt="">
						</figure>
					</div>
					
				</div>
				<!--/row-->
			</div>


					<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Nguyễn Quốc Trung</h2>
					<p>Phụ trách: Thiết Kế Website - Xây Dựng CSDL</p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-5" style="text-align: justify">
						<a><strong>Giới tính:</strong> Nam<br><br>
						<a><strong>Xuất thân:</strong> Là Sinh viên lớp SPTin B, ngành Sư phạm Tin học khóa 41, trực thuộc khoa CNTT, Trường Đại học Sư phạm TP.HCM</a><br><br>
						<a><strong>Chức vụ:</strong> Teamer thuộc phân hệ “ Tynker – Thế Giới Trong Mơ”</a><br><br>
						<a><strong>Phụ trách:</strong> Thiết kế Website ,Kiểm thử hệ thống, Xây dựng và Phát triển CSDL cho Hệ thống nói chung và  phân hệ “tynker – Thế giới trong mơ” nói riêng</a><br><br>
						<a><strong>Châm ngôn:</strong><br>
	 					Tất cả những người đáng giá đều có phần tự lập trong học vấn của mình<br>
						<i>(All men who have turned out worth anything have had the chief hand in their own education)</i><br>
						<p style="text-align:right"><i><strong>Walter Scott</strong></i></p></a></a>
					</div>
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="http://via.placeholder.com/800x533/ccc/fff/course_1.jpg" class="img-fluid" alt="">
						</figure>
					</div>
					
				</div>
				<!--/row-->
			</div>


				<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Đoàn Minh Trí</h2>
					<p>Phụ trách: Thiết kế đồ họa - Biên tập nội dung, thiết kế bài giảng khóa học Arduino</p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-5" style="text-align: justify">
						<a><strong>Giới tính:</strong> Nam<br><br>
						<a><strong>Xuất thân:</strong> Là Sinh viên ngành Sư phạm Tin học khóa 41, trực thuộc khoa CNTT, Trường Đại học Sư phạm TP.HCM</a><br><br>
						<a><strong>Chức vụ:</strong> Teamer thuộc phân hệ “ Arduino Combo Kỳ Diệu”</a><br><br>
						<a><strong>Phụ trách:</strong> Thiết kế đồ họa, Video Clip giới thiệu, quản bá website .Kiểm thử hệ thống, Phát triển nội dung dạy học và xây dựng bài giàng cho phân hệ “Arduino – Combo Kỳ Diệu”</a><br><br>
						<a><strong>Châm ngôn:</strong><br>
	 					Ta không nên dạy trẻ nhỏ khoa học; mà hãy để chúng nếm trải nó<br>
						<i>(We should not teach children the sciences; but give them a taste for them)</i><br>
						<p style="text-align:right"><i><strong>Jean Jacques Rousseau</strong></i></p></a></a>
					</div>
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="http://via.placeholder.com/800x533/ccc/fff/course_1.jpg" class="img-fluid" alt="">
						</figure>
					</div>
					
				</div>
				<!--/row-->
			</div>


				<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Trần Phúc Minh Khoa</h2>
					<p>Phụ trách: Hỗ trợ thiết kế - Biên tập nội dung, thiết kế bài giảng khóa học Alice3D</p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-5" style="text-align: justify">
						<a><strong>Giới tính:</strong> Nam<br><br>
						<a><strong>Xuất thân:</strong> Là Sinh viên ngành Sư phạm Tin học khóa 41, trực thuộc khoa CNTT, Trường Đại học Sư phạm TP.HCM</a><br><br>
						<a><strong>Chức vụ:</strong> Teamer thuộc phân hệ “Alice 3D – Say Mê Sáng Tạo”</a><br><br>
						<a><strong>Phụ trách:</strong> Kiểm thử hệ thống, Phát triển nội dung và xây dựng bài giảng cho phân hệ “Alice 3D – Say Mê Sáng Tạo”</a><br><br>
						<a><strong>Châm ngôn:</strong><br>
	 					Toàn bộ nghệ thuật của sự giáo dục là nghệ thuật đánh thức sự tò mò bản năng của những trí óc non trẻ nhằm thỏa mãn nó sau đó<br>
						<i>(The whole art of teaching is only the art of awakening the natural curiosity of young minds for the purpose of satisfying it afterwards)</i><br>
						<p style="text-align:right"><i><strong>Anatole France</strong></i></p></a></a>
					</div>
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="http://via.placeholder.com/800x533/ccc/fff/course_1.jpg" class="img-fluid" alt="">
						</figure>
					</div>
					
				</div>
				<!--/row-->
			</div>


			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Phạm Hữu Trí</h2>
					<p>Phụ trách: Biên tập nội dung, thiết kế bài giảng khóa học Tynker</p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="http://via.placeholder.com/800x533/ccc/fff/course_1.jpg" class="img-fluid" alt="">
						</figure>
					</div>
					<div class="col-lg-5" style="text-align: justify">
						<a><strong>Giới tính:</strong> Nam<br><br>
						<a><strong>Xuất thân:</strong> Là Sinh viên lớp SPTin B ngành Sư phạm Tin học khóa 41, trực thuộc khoa CNTT, Trường Đại học Sư phạm TP.HCM</a><br><br>
						<a><strong>Chức vụ:</strong> Teamer thuộc phân hệ “Alice 3DTynker – Thế Giới Trong Mơ”</a><br><br>
						<a><strong>Phụ trách:</strong> Kiểm thử hệ thống, Xây dựng và Phát triển nội dung và xây dựng bài giảng cho phân hệ “Tynker – Thế Giới Trong Mơ”</a><br><br>
						<a><strong>Châm ngôn:</strong><br>
	 					Có hai kiểu giáo dục. Một kiểu dạy chúng ta làm thế nào để sống, và kiểu còn lại dạy chúng ta phải sống như thế nào<br>
						<i>(There are two educations. One should teach us how to make a living and the other how to live)</i><br>
						<p style="text-align:right"><i><strong>John Adams</strong></i></p></a></a>
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/container-->
		</div>
		<!--/bg_color_1-->

		
		<!--/container-->
	{% endblock %}
	<!--/main-->