<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Udema a modern educational site template">
    <meta name="author" content="Ansonika">
    <title>VS-PRO | Visual Programming Learning</title>
	{% load static %}
    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'homepage/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'homepage/img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'homepage/img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'homepage/img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'homepage/img/apple-touch-icon-144x144-precomposed.png' %}">

    <!-- BASE CSS -->
    <link href="{% static 'homepage/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'homepage/css/vendors.css' %}" rel="stylesheet">
	<link href="{% static 'homepage/css/icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'homepage/css/custom.css' %}" rel="stylesheet">

</head>

<body id="register_bg" >
	<nav id="menu" class="fake_menu"></nav>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
	
	<div id="login">
		<aside style="margin-left: 500px;">
			<figure>
				<h3 style="font-size: 24pt;color: white;"> Đổi Mật Khẩu </h3>
			</figure>
			<form autocomplete="off" method="POST">
				{% csrf_token %}
				<div class="form-group">
					{% for message in messages %}
					<div class="alert alert-success" style="color: #f8f9fa; background-color: #dc3545;">
						<a class="close" data-dismiss="alert">×</a>
							{{ message }}
					</div>
					{% endfor %}
					<span class="input">
					<input name="maxacnhan" class="input_field" type="text">
						<label class="input_label">
						<span  class="input__label-content">Mã xác nhận<b style="color: #fd2828;font-size: 14pt">*</b></span>
					</label>
					</span>
					
					<span class="input">
					<input name="pass1"  class="input_field" type="password" id="password1">
						<label class="input_label">
						<span class="input__label-content">Mật Khẩu<b style="color: #fd2828;font-size: 14pt">*</b></span>
					</label>
					</span>
					<a class="icon-eye-7" onclick="showpass()" id="show" style="display: show;font-size: 9pt;padding-left:194px;color:dodgerblue">Show password</a>
					<a class="icon-eye-off-1" onclick="hidepass()" id="hide" style="display: none;font-size: 9pt;padding-left:194px;color:dodgerblue">Hide password</a>
					<br>
					<script language="javascript">
							var check = 0;
							var pass = document.getElementById("password1");
							var show=document.getElementById("show");
							var hide=document.getElementById("hide");
							 function showpass(){
								pass.type="text";
								show.style.display = "none";
								hide.style.display = "inline";
							};
							function hidepass(){
								pass.type="password";
								show.style.display = "inline";
								hide.style.display = "none";
							};
					</script>
					<span class="input">
					<input name="pass2" class="input_field" type="password" id="password2">
						<label class="input_label">
						<span  class="input__label-content">Xác Nhận Mật Khẩu<b style="color: #fd2828;font-size: 14pt">*</b></span>
					</label>
					</span>
					<a class="icon-eye-7" onclick="showpass2()" id="show2" style="display: show;font-size: 9pt;padding-left:194px; color:dodgerblue">Show password</a>
					<a class="icon-eye-off-1" onclick="hidepass2()" id="hide2" style="display: none;font-size: 9pt;padding-left:194px;color:dodgerblue">Hide password</a>
					<br>
					<script language="javascript">
							var check = 0;
							var pass2 = document.getElementById("password2");
							var show2=document.getElementById("show2");
							var hide2=document.getElementById("hide2");
							 function showpass2(){
								pass2.type="text";
								show2.style.display = "none";
								hide2.style.display = "inline";
							};
							function hidepass2(){
								pass2.type="password";
								show2.style.display = "inline";
								hide2.style.display = "none";
							};
					</script>
					
					<div style="padding-left:3spx;padding-top:10px;padding-bottom:17px;" align="center">
						<button type="submit" class="btn_1 rounded full-width add_top_30">Đăng Kí</button>
					</div>
					<div id="pass-info" class="clearfix"></div>
				</div>
				<div class="copy"> VS-Pro©2019</div>
			</form>
		</aside>

		
	</div>
	<!-- /login -->
	
	<!-- COMMON SCRIPTS -->
    <script src="{% static 'homepage/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'homepage/js/common_scripts.js' %}"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>
	<script src="{% static 'homepage/assets/validate.js' %}"></script>
	
	<!-- SPECIFIC SCRIPTS -->
	<script src="{% static 'homepage/js/pw_strenght.js' %}"></script>
  
</body>
</html>