{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Udema a modern educational site template">
    <meta name="author" content="Ansonika">
    <title>VS-PRO | Visual Programming Learning</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'homepage/img/favicon.ico' %}" type="image/x-icon">
    {% comment %} <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'homepage/img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'homepage/img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'homepage/img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'homepage/img/apple-touch-icon-144x144-precomposed.png' %}"> {% endcomment %}

    <!-- BASE CSS -->
    <link href="{% static 'homepage/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'homepage/css/vendors.css' %}" rel="stylesheet">
	<link href="{% static 'homepage/css/icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">
    
    <!-- SPECIFIC CSS -->
    <link href="{% static 'homepage/css/blog.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Font Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>


    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'homepage/css/custom.css' %}" rel="stylesheet">

</head>

<body>
	
	<div id="page">
		
	<header class="header menu_2">
			<div id="preloader"><div data-loader="circle-side"></div></div><!-- /Preload -->
			<div id="logo">
				<a href="{% url 'homepage:index' %}"><img src="{% static 'homepage/img/logo_2x.png' %}" width="149" height="42" data-retina="true" alt=""></a>
			</div>
			<ul id="top_menu">
				<li><a href="login.html" class="login">Login</a></li>
				<li><a href="#0" class="search-overlay-menu-btn">Search</a></li>
				<li class="hidden_tablet"><a href="admission.html" class="btn_1 rounded">Admission</a></li>
			</ul>
			<!-- /top_menu -->
			<a href="#menu" class="btn_mobile">
				<div class="hamburger hamburger--spin" id="hamburger">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</a>
			<nav id="menu" class="main-menu" style="padding-right:50px">
				<ul>
					<li><span><a href="#0">Giới Thiệu</a></span>
						<ul>
							<li><a href="{% url 'homepage:introduction' %}"><i class="fa fa-globe" style="font-size:14pt"></i>&nbsp&nbsp Tổng Quan</a></li>
							<li><a href="{% url 'homepage:vision' %}"><i class="fa fa-heartbeat" style="font-size:14pt"></i>&nbsp&nbsp Sứ Mệnh</a></li>
							<li><a href="{% url 'homepage:team' %}"><i class="fa fa-group" style="font-size:14pt"></i>&nbsp Chuyên gia</a></li>
							<li><a href="{% url 'homepage:aboutus' %}"><i class="fa fa-id-badge" style="font-size:14pt"></i>&nbsp &nbsp Về Chúng Tôi</a></li>
							{% comment %} <li><a href="contacts.html">Liên Hệ</a></li> {% endcomment %}
						</ul>
					</li>

					<li><span><a href="#0">Tynker</a></span>
						<ul>
							<li><a href="{% url 'course:coursedetail' 1 %}"><i class="fas fa-clone" style="font-size:14pt"></i>&nbsp Giới Thiệu</a></li>
							<li><a href="{% url 'course:coursechapter' 1 %}"><i class="fas fa-book-open" style="font-size:14pt"></i>&nbsp Bài Học</a></li>
							<li><a href="{% url 'usergame:gamelist' 1 %}"><i class="fa fa-cubes" style="font-size:14pt"></i>&nbsp Trò Chơi</a></li>
							<li><a href="{% url 'userprojectshare:projectshare' %}"><i class="fas fa-file-alt" style="font-size:14pt"></i>&nbsp&nbsp Dự Án</a></li>
							<li><a href="{% url 'usercompetition:competitionenvironment' 1 %}"><i class="fas fa-award" style="font-size:14pt"></i>&nbsp&nbsp Cuộc Thi</a></li>
							<li><a href="#"><i class="fa fa-comments" style="font-size:14pt"></i> Diễn Đàn</a></li>
							
						</ul>
					</li>

					<li><span><a href="#0">Alice3D</a></span>
						<ul>
							<li><a href="{% url 'course:coursedetail' 2 %}"><i class="fas fa-clone" style="font-size:14pt"></i>&nbsp Giới Thiệu</a></li>
							<li><a href="{% url 'course:coursechapter' 2 %}"><i class="fas fa-book-open" style="font-size:14pt"></i> Bài Học</a></li>
							<li><a href="{% url 'usergame:gamelist' 2 %}"><i class="fa fa-cubes" style="font-size:14pt"></i>&nbsp Trò Chơi</a></li>
							<li><a href="{% url 'userprojectshare:projectshare' %}"><i class="fas fa-file-alt" style="font-size:14pt"></i>&nbsp Dự Án</a></li>
							<li><a href="{% url 'usercompetition:competitionenvironment' 2 %}"><i class="fas fa-award" style="font-size:14pt"></i>&nbsp Cuộc Thi</a></li>
							<li><a href="#"><i class="fa fa-comments" style="font-size:14pt"></i> Diễn Đàn</a></li>
							{% comment %} <li><a href="{% url 'course:coursechapter' 2 %}">Nào Ta Cùng Học</a></li>
							<li><a href="course-detail.html">Trò Chơi Của Em</a></li>
							<li><a href="course-detail.html">Dự Án Của Em</a></li>
							<li><a href="courses-grid-sidebar.html">Cùng Nhau Thảo Luận</a></li> {% endcomment %}
						</ul>
					</li>

					<li><span><a href="#0">Arduino</a></span>
						<ul>
							<li><a href="{% url 'course:coursedetail' 3 %}"><i class="fas fa-clone" style="font-size:14pt"></i>&nbsp&nbsp Giới Thiệu</a></li>
							<li><a href="{% url 'course:coursechapter' 3 %}"><i class="fas fa-book-open" style="font-size:14pt"></i>&nbsp Bài Học</a></li>
							<li><a href="{% url 'usergame:gamelist' 3 %}"><i class="fa fa-cubes" style="font-size:14pt"></i>&nbsp Trò Chơi</a></li>
							<li><a href="{% url 'userprojectshare:projectshare' %}"><i class="	fas fa-file-alt" style="font-size:14pt"></i>&nbsp&nbsp Dự Án</a></li>
							<li><a href="#"><i class="fa fa-comments" style="font-size:14pt"></i> Diễn Đàn</a></li>
							<li><a href="#"><i class="fas fa-file" style="font-size:14pt"></i>&nbsp&nbsp Tài Nguyên</a></li>
							
						</ul>
					</li>
					<li><span><a href="#0">Khóa Học</a></span>
						<ul>
							<li><a href="{% url 'course:showsubjectcate' 1 %}"><i class="fa fa-database" style="font-size:14pt"></i>&nbsp Môi Trường Tynker</a></li>
							<li><a href="{% url 'course:showsubjectcate' 2 %}"><i class="fa fa-database" style="font-size:14pt"></i>&nbsp Môi Trường Alice 3D</a></li>
							<li><a href="{% url 'course:showsubjectcate' 3 %}"><i class="fa fa-database" style="font-size:14pt"></i>&nbsp Môi Trường Arduino</a></li>
							<li><a href="courses-grid-sidebar.html"><i class="fa fa-ellipsis-v" style="font-size:14pt"></i>&nbsp &nbsp Môi Trường Khác...</a></li>
						</ul>
					</li>
					
					<li><span><a href="#0">Cuộc Thi</a></span>
						<ul>
							<li><a href="#"><i class="fa fa-map" style="font-size:14pt"></i>&nbsp Chia Sẻ</a></li>
							<li><a href="{% url 'usercompetition:competitionenvironment' 1 %}"><i class="fa fa-paper-plane" style="font-size:14pt"></i>&nbsp Môi Trường Tynker</a></li>
							<li><a href="{% url 'usercompetition:competitionenvironment' 2 %}"><i class="fa fa-paper-plane" style="font-size:14pt"></i>&nbsp Môi Trường Alice 3D</a></li>
							<li><a href="{% url 'usercompetition:competitionenvironment' 3 %}"><i class="fa fa-paper-plane" style="font-size:14pt"></i>&nbsp Môi Trường Arduino</a></li>
							<li><a href="#"><i class="fa fa-ellipsis-v" style="font-size:14pt"></i>&nbsp&nbsp &nbsp Môi Trường Khác...</a></li>
						</ul>
					</li>


					<li><span><a href="#0">Hỏi Đáp</a></span>
						<ul>
							<li><a href="#"><i class="fa fa-newspaper-o" style="font-size:14pt"></i> Bài Viết Chia Sẻ</a></li>
							<li><a href="#"><i class="fa fa-question-circle" style="font-size:14pt"></i>&nbsp Hỏi Đáp Chuyên Gia</a></li>
							<li><a href="#"><i class="fa fa-recycle" style="font-size:14pt"></i> Kết Nối Cộng Đồng</a></li>
						</ul>
					</li>

					<li><span><a href="#0">Hỗ Trợ</a></span>
						<ul>
							<li><a href="#"><i class="fa fa-sitemap" style="font-size:14pt"></i>&nbsp Sơ Đồ Hệ Thống</a></li>
							<li><a href="#"><i class="fa fa-map-signs" style="font-size:14pt"></i>&nbsp Hướng Dẫn</a></li>
							<li><a href="#"><i class="fa fa-phone" style="font-size:14pt"></i>&nbsp Liên Hệ</a></li>
						</ul>
					</li>
					
					<li><span style="border-color: #FFC107">
							<a href="#0" style="border-color: #FFC107">
							<img src="{{account.avatar}}" alt="Avatar" style="width:40px;height:40px;border-radius:50%;display:inline">
								{{account.username}}
							</a>
						</span>
						<ul>
							
							{% comment %} <li><a href="{% url 'homepage:profile' account.accountid %}">Chỉnh Sửa Tài Khoản</a></li> {% endcomment %}
							
							<li><a href="{% url 'course:dashboard' %}"><i class="fa fa-hdd-o" style="font-size:14pt"></i>&nbsp Tiến Trình</a></li>
							<li><a href="{% url 'homepage:myprofile' account.accountid %}"><i class="fa fa-id-badge" style="font-size:14pt"></i>&nbsp&nbsp Hồ Sơ</a></li>
							

							{% if account.accounttypeid.accounttypeid == 1 %}
              				<!--DO SOMETHING WITH ADMIN ACCOUNT-->
							<li><a href="{% url 'course:managecourse' %}"><i class="fa fa-cog" style="font-size:14pt"></i>&nbsp Quản Lý</a></li>
							{% endif %}
							
							{% if account.accounttypeid.accounttypeid == 2 %}
								<li><a href="{% url 'course:managecourse' %}"><i class="fa fa-cog" style="font-size:14pt"></i>&nbsp&nbsp Quản Lý</a></li>
							{% endif %}

							<li><a href="{% url 'homepage:logout' %}"><i class="fa fa-share" style="font-size:14pt"></i>&nbsp Đăng Xuất</a></li>

							{% comment %} <li><a href="{% url 'course:mycourse' %}">Khóa Học Của Tôi</a></li>
							<li><a href="{% url 'course:dashboard' %}">Hoạt Động Gần Đây</a></li>
							<li><a href="{% url 'homepage:logout' %}">Đăng Xuất</a></li> {% endcomment %}
						</ul>
					</li>
					

			</ul>
		</nav>
		<!-- Search Menu -->
		<div class="search-overlay-menu">
			<span class="search-overlay-close"><span class="closebt"><i class="ti-close"></i></span></span>
			<form role="search" id="searchform" method="get">
				<input value="" name="q" type="search" placeholder="Search..." />
				<button type="submit"><i class="icon_search"></i>
				</button>
			</form>
		</div><!-- End Search Menu -->
	</header>
	<!-- /header -->
	
	<main>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Thông Tin Cá Nhân</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-9">

					<article class="blog wow fadeIn">
						<div class="row no-gutters">
						<div class="box_cart" style="width: 100%;margin-bottom: 0px">
						
						<div class="form_title">
							<h3><strong>1</strong>Thông Tin Tài Khoản</h3>
							<p>
								Thông Tin Tổng Quát Tài Khoản
							</p>
						</div>
						<div class="message" align="right" style="background-color: white">
							<p> <a href="{% url 'homepage:editmyprofile' account.accountid %}" style="color:#3366ff"><i class="fa fa-edit"></i>Chỉnh Sửa Tài Khoản</a></p>
						</div>
						<div class="step">
							<div class="row">
								<div class="col-sm-6">
									<img src="{{account.avatar}}" alt="" style="border-radius: 50%; width: 150px; height: 150px">
									{% comment %} <img src="{{account.avatar}}" alt="Avatar" style="width:40px;height:40px;border-radius:50%;display:inline"> {% endcomment %}
								</div>
								<div class="col-sm-6">
									{% comment %} <span class="input">
										<input class="input_field" type="email"  disabled>
										<label class="input_label" >
											<span class="input__label-content" style="color:#ff0066;width:100%" align="center"><strong> {{account.username.upper}}</strong></span>
										</label>
									</span> {% endcomment %}
								</div>
								

							
							</div>
							<div class="row">
								<div class="col-sm-6">
									<span class="input">
										<input class="input_field" type="text" disabled >
										<label class="input_label">
										<span class="input__label-content" style="color:#ff0066;"><strong> {{account.username.upper}}</strong></span>
										
										</label>
									</span>
								</div>
								<div class="col-sm-6">
									<span class="input">
										<input class="input_field" type="text" disabled>
										<label class="input_label">
											<span class="input__label-content" style="color:#333300">{{userdetail.lastname}} {{userdetail.firstname}}</span>
										
										</label>
									</span>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<span class="input">
										<input class="input_field" type="text" disabled>
										<label class="input_label">
											<span class="input__label-content" style="color:#333300">{{userdetail.birthday}}</span>
										</label>
									</span>
								</div>
								<div class="col-sm-6">
									<span class="input">
										<input class="input_field" type="text" disabled>
										<label class="input_label">
											<span class="input__label-content" style="color:#333300">{{userdetail.address}}</span>
										</label>
									</span>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<span class="input">
										<input class="input_field" type="text" disabled>
										<label class="input_label">
											<span class="input__label-content" style="color:#333300">{{userdetail.phonenumber}}</span>
										</label>
									</span>
								</div>
								<div class="col-sm-6">
									<span class="input">
										<input class="input_field" type="email" disabled>
										<label class="input_label">
											<span class="input__label-content" style="color:#333300">{{userdetail.email}}</span>
										</label>
									</span>
								</div>
							</div>

						</div>
						<!--End step -->

						
						<!--End step -->
						
						</div>

						</div>
					</article>


					
					<!-- /article -->

					<article class="blog wow fadeIn">
						<div class="row no-gutters">
						<div class="box_cart" style="width: 100%;margin-bottom: 0px">
						
						<div class="form_title">
							<h3><strong>2</strong>Khoá Học Đã Hoàn Thành</h3>
							<p>
								Danh Sách Các Khóa Học Bạn Đã Hoàn Thành 100% Các Hoạt Động
							</p>
						</div>
						<div class="step">
							{% if lensub == 0 %}
								<div class="message">
								<p style="color:#ff0000"><a>Chưa có khóa học nào đã hoàn thành</a></p>
								</div>
							{% else %}
								{% for sub in subList %}
									<div class="message">
									<p><a href="#0" style="color:#3366ff">{{sub.subjectname}}</a></p>
									</div>
								{% endfor %}
							{% endif %}
							

							
						</div>
						
						<!--End step -->

						
						<!--End step -->
						
						</div>

						</div>
					</article>
					<!-- /article -->
					<article class="blog wow fadeIn">
						<div class="row no-gutters">
						<div class="box_cart" style="width: 100%;margin-bottom: 0px">
						
						<div class="form_title">
							<h3><strong>3</strong>Khoá Học Đang Tham Gia</h3>
							<p>
								Các Khóa Học Mà Bạn Đang Tham Gia Nhưng Chưa Hoản Thành
							</p>
						</div>
						<div class="step">
							{% if lennotsub == 0 %}
								<div class="message">
								<p style="color:red"><a>Bạn chưa tham gia khóa học nào</a></p><p><a href="#0">Hãy tham gia!</a></p>
								</div>
							{% else %}
								{% for notsub in notsubList %}
									<div class="message">
									<p><a href="{% url 'course:coursedetail' notsub.subjectid %}">{{notsub.subjectname}}</a></p>
									</div>
								{% endfor %}
							{% endif %}

							
						</div>
						
						<!--End step -->

						
						<!--End step -->
						
						</div>

						</div>
					</article>
					
					<!-- /pagination -->
				</div>
				<!-- /col -->

				<aside class="col-lg-3">
					<div class="widget">
						
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Các Bài Chia Sẻ Đã Tạo</h4>
						</div>
						<ul class="comments-list">
							
							{% if lenpro == 0 %}
								<a style="color:red">Bạn chưa tạo bài chia sẻ nào</a><br>
								<a href="#0">Hãy tạo ngay!</a>
							{% else %}
								{%for projectshare in projectshares %}
									<li>	
										<div class="alignleft">
										{% if projectshare.avatar != null %}
											{% comment %} <a href="#0"><img src="{{account.avatar}}" alt="" style=" width: 150pt; height: 150pt; border-radius: 50%;"></a> {% endcomment %}
											<a href="#0"><img src="{{projectshare.avatar}}" alt="" style=" width: 60pt; height: 60pt; border-radius: 50%;"></a>
										{% else %}
											<a href="#0"><img src="http://via.placeholder.com/150x150/ccc/fff/blog-5.jpg" alt="" style="border-radius: 50%"></a>
										{% endif %}
										</div>
										<small>{{projectshare.createdate}}</small>
										<h3 ><a href="#" title="" >{{projectshare.projectsharetopicname}}</a></h3>
									</li>
								{% endfor %}
							{% endif %}
							
						</ul>
					</div>
					<div class="widget">
						<div class="widget-title">
							<h4 style="font-size:13pt">Các Chủ Đề Đã Tạo</h4>
							{% comment %} Danh sách các chủ đề thảo luận mà bạn có nộp bài {% endcomment %}
						</div>
						<ul class="comments-list">
							
							{% if lenfor == 0 %}
								<a style="color:#ff1a1a">Bạn chưa tạo chủ đề nào</a><br>
								<a href="#0">Hãy tạo ngay!</a>
							{% else %}
								{%for forum in forums %}
									<li>	
										<div class="alignleft">
											{% if forum.avatar != null %}
												<a href="#0"><img src="{{forum.avatar}}" alt=""></a>
											{% else %}
												<a href="#0"><img src="http://via.placeholder.com/150x150/ccc/fff/blog-5.jpg" alt=""></a>
											{% endif %}
										</div>
										<small>{{forum.createdate}}</small>
										<h3><a href="#" title="">{{forum.forumtopicname}}</a></h3>
									</li>
								{% endfor %}
							{% endif %}
							
						</ul>
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Thống Kê Hoạt Động</h4>
						</div>
						<ul class="cats">
							<li><a href="#">Bình Luận Diễn Đàn<span>({{lenforrep}})</span></a></li>
							<li><a href="#">Tham Gia Cuộc Thi <span>({{lencompsub}})</span></a></li>
							<li><a href="#">Chia Sẻ Dự Án <span>({{lenprorep}})</span></a></li>
							</ul>
					</div>
					<!-- /widget -->
					<!-- <div class="widget">
						<div class="widget-title">
							<h4>Popular Tags</h4>
						</div>
						<div class="tags">
							<a href="#">Information tecnology</a>
							<a href="#">Students</a>
							<a href="#">Community</a>
							<a href="#">Carreers</a>
							<a href="#">Literature</a>
							<a href="#">Seminars</a>
						</div>
					</div> -->
					<!-- /widget -->
				</aside>
				<!-- /aside -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
	
	<footer>
		<div class="container margin_120_95">
			<div class="row">
				<div class="col-lg-5 col-md-12 p-r-5">
					<p><img src="{% static 'homepage/img/logo.png' %}" width="149" height="42" data-retina="true" alt=""></p>
					<p>Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea. Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu. Nihil facilisi indoctum an vix, ut delectus expetendis vis.</p>
					<div class="follow_us">
						<ul>
							<li>Follow us</li>
							<li><a href="#0"><i class="ti-facebook"></i></a></li>
							<li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
							<li><a href="#0"><i class="ti-google"></i></a></li>
							<li><a href="#0"><i class="ti-pinterest"></i></a></li>
							<li><a href="#0"><i class="ti-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 ml-lg-auto">
					<h5>Useful links</h5>
					<ul class="links">
						<li><a href="#0">Admission</a></li>
						<li><a href="#0">About</a></li>
						<li><a href="#0">Login</a></li>
						<li><a href="#0">Register</a></li>
						<li><a href="#0">News &amp; Events</a></li>
						<li><a href="#0">Contacts</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>Contact with Us</h5>
					<ul class="contacts">
						<li><a href="tel://61280932400"><i class="ti-mobile"></i> + 61 23 8093 3400</a></li>
						<li><a href="mailto:info@udema.com"><i class="ti-email"></i> info@udema.com</a></li>
					</ul>
					<div id="newsletter">
					<h6>Newsletter</h6>
					<div id="message-newsletter"></div>
					<form method="post" action="assets/newsletter.php" name="newsletter_form" id="newsletter_form">
						<div class="form-group">
							<input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Your email">
							<input type="submit" value="Submit" id="submit-newsletter">
						</div>
					</form>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-md-8">
					<ul id="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div id="copy">© 2017 Udema</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->
	</div>
	<!-- page -->
	
	<!-- COMMON SCRIPTS -->
    <script src="{% static 'homepage/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'homepage/js/common_scripts.js' %}"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>
	<script src="{% static 'homepage/assets/validate.js' %}"></script>

</body>
</html>