{% extends "homepage/base.html" %}
{% load static %}
{% block content %}
		<section id="hero_in" class="general" style="background: url('/media/bia04_moitruongchiaseduan.png');background-repeat: no-repeat;background-position: center;background-size: cover;">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp" style="font-family: Arial, Helvetica, sans-serif"><span></span>Tài Nguyên Arduino</h1>
				</div>
			</div>
		</section>


		<div class="bg_color_1">
			<div class="container margin_120_95">
				
				<div class="main_title_2">
					<span><em></em></span>
					<h2 style="text-align:center;font-family: Arial, Helvetica, sans-serif">Video</h2>
					<p style="text-align:center font-family: Arial, Helvetica, sans-serif">Tài Nguyên Chuẩn Video</p>
				</div>
				<div class="row justify-content-between">
					<div class="box_cart" style="padding-left:5%; padding-right:5%;width:100%" align='center'>
						
							<iframe style="width:50%;height:350px" src="https://www.youtube.com/embed/GBvM8e5KNHs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<iframe style="width:50%;height:350px" src="https://www.youtube.com/embed/2rAUUM-wwJ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<iframe style="width:50%;height:350px" src="https://www.youtube.com/embed/BLB9dKdmX2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<iframe style="width:50%;height:350px" src="https://www.youtube.com/embed/iOBV-YNPd6M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

							<iframe style="width:50%;height:350px" src="https://www.youtube.com/embed/u2rs_8g2QA8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<iframe style="width:50%;height:350px" src="https://www.youtube.com/embed/k-9dQE4BKDE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<iframe style="width:50%;height:350px" src="https://www.youtube.com/embed/9OedmE20OGI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<iframe style="width:50%;height:350px" src="https://www.youtube.com/embed/iqcK_Oq29Ik" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<iframe style="width:50%;height:350px" src="https://www.youtube.com/embed/ufPs9abqUmg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

							<iframe style="width:50%;height:350px" src="https://www.youtube.com/embed/iHO-ckSYoQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					</div></div><br><br><br>


					<div class="main_title_2">
					<span><em></em></span>
						<h2 style="text-align:center;font-family: Arial, Helvetica, sans-serif">Tệp PDF</h2>
						<p style="text-align:center;font-family: Arial, Helvetica, sans-serif">Tài liệu chuẩn PDF</p>
					</div>
					<div class="box_cart" style="padding-left:5%; padding-right:5%;width:100%;color:#130d07;font-size:11pt">
							<section id="web-application">
									<embed src="/pdf/DT1" type="application/pdf" width="100%" height="600px" style="padding-bottom:100px"/>
							</section>
							
							<section id="web-application">
									<embed src="/pdf/DT2" type="application/pdf" width="100%" height="600px" style="padding-bottom:100px"/>
							</section>

							<section id="web-application">
									<embed src="/pdf/DT3" type="application/pdf" width="100%" height="600px" style="padding-bottom:100px"/>
							</section>

							<section id="web-application">
									<embed src="/pdf/DT4" type="application/pdf" width="100%" height="600px" style="padding-bottom:100px"/>
							</section>
					</div>



					<div class="main_title_2">
							<span><em></em></span>
								<h2 style="text-align:center;font-family: Arial, Helvetica, sans-serif">HÌnh ảnh</h2>
								<p style="text-align:center;font-family: Arial, Helvetica, sans-serif">Tài liệu chuẩn Hình Ảnh</p>
							</div>
							<div class="box_cart" style="padding-left:5%; padding-right:5%;width:100%;color:#130d07;font-size:11pt" align='center'>
									<img src="/media/pic/1.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/2.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/3.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/4.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/5.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/6.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/7.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/8.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/9.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/10.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/11.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/12.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/13.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/14.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/15.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/16.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/17.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/18.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/19.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/20.jpg"  style="height:100%;width:50%" ><br><br><br>
									<img src="/media/pic/21.jpg"  style="height:100%;width:50%" ><br><br><br>

									
									
							</div>
				</div>
				<!--/row-->
			</div>







			
			<!--/container-->
		</div>
		<!--/bg_color_1-->
		
		<!--/hero_in-->

		
		<!-- /container -->

		



		</div>

		
		<!--/bg_color_1-->

		
		<!--/container-->

		
	{% endblock%}
	<!--/main-->
	