{% extends "homepage/base.html" %}
{% load static %}
{% block content %}
		<section id="hero_in" class="general" style="background: url('/media/bia04_moitruongchiaseduan.png');background-repeat: no-repeat;background-position: center;background-size: cover;">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp" style="font-family: Arial, Helvetica, sans-serif"><span></span>Sơ Đồ Hệ Thống</h1>
				</div>
			</div>
		</section>


		<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2 style="text-align:center;font-family: Arial, Helvetica, sans-serif">Sơ Đồ</h2>
					<p style="text-align:center font-family: Arial, Helvetica, sans-serif">Hệ Thống Dạy Học Lập Trình Trực Quan VS-Pro</p>
				</div>
				<div class="row justify-content-between">
					<div class="box_cart" style="padding-left:5%; padding-right:5%;width:100%">
						<section id="web-application">
								<img src="/media/sitemap.png"  style="height:100%;width:100%" >

						</section>
					</div></div><br><br><br>
					<div class="main_title_2">
					<span><em></em></span>
						<h2 style="text-align:center;font-family: Arial, Helvetica, sans-serif">Giới Thiệu Chung</h2>
						<p style="text-align:center font-family: Arial, Helvetica, sans-serif">Hệ Thống Dạy Học Lập Trình Trực Quan VS-Pro</p>
					</div>
					<div class="box_cart" style="padding-left:5%; padding-right:5%;width:100%;color:#130d07;font-size:11pt">
						<span style="color:#cc6699;font-size:12pt"><strong>PHẦN GIỚI THIỆU:</strong></span> khi tiếp cận đến một trang web, phần giới thiệu là một trong những phần quan trọng nhất. Phần này sẽ hỗ trợ và giúp người dùng hiểu về trang web của VS-Pro. Thông qua phần giới thiệu, người dùng sẽ được tìm hiểu về các mục như <strong>Tổng quan, Sứ mệnh, Đội ngũ và Về chúng tôi</strong>
<br><b>&nbsp&nbsp - Tổng quan:</b> là nơi để người dùng có cái nhìn tổng quan về trang web, nơi người dùng có thể tìm hiểu thêm về một số tin tức thuộc một số lĩnh vực trong ngành giáo dục như Định hướng giáo dục STEM, Dạy học lập trình trực quan, Ứng dụng thực tế phương pháp, … 
<br><b>&nbsp&nbsp - Sứ mệnh:</b> là nơi để người dùng có thể hiểu rõ về tâm huyết xây dựng trang web và những lợi ích do VS-Pro mang lại. Qua VS-Pro, chúng tôi muốn thể hiện tầm nhìn, sứ mệnh, chiến lược phát triển mà VS-Pro muốn hướng tới. 
<br><b>&nbsp&nbsp - Chuyên gia:</b> VS-PRO LEARING SYSTEM phát triển ổn định và đạt được nhiều thành tựu vượt bậc như hiện tại không chỉ là kết quả của quá trình làm việc năng động, sáng tạo và tâm huyết của nhóm sinh viên chúng tôi mà còn là thành quả từ sự hỗ trợ đắc lực của đội ngũ chuyên gia phát triển có năng lực và tinh thần trách nhiệm cao đến từ Trung Tâm Tin Học (TTTH) của trường Đại học Sư Phạm TPHCM.
<br><b>&nbsp&nbsp - Về chúng tôi:</b> Chúng tôi là nhóm bao gồm 6 sinh viên khóa 41 ngành Sư phạm Tin học trực thuộc khoa CNTT trường đại học Sư Phạm TP.HCM. VS-Pro Learning System ra đời với vai trò là sản phẩm của Khóa Luận Tốt Nghiệp được chúng tôi thực hiện bằng tất cả những kiến thức, kỹ năng và hiểu biết trong suốt quá trình gần 4 năm theo học tại trường.
<br><br><span style="color:#cc6699;font-size:12pt"><strong>PHẦN TYNKER:</strong></span> đối với trang web VS-Pro thì Tynker là một trong ba khóa học được đầu tư và xây dựng kĩ lưỡng từ đội ngũ của VS-Pro. Với nội dung được nghiên cứu và biên soạn dựa theo giáo trình bản quyền của Mỹ. Đối với Tynker, là môn học lập trình kéo-thả trực quan dành cho các bạn nhỏ có đam mê về lập trình, có độ tuổi từ 8 – 11 tuổi. Thông qua phân hệ Tynker, người dùng sẽ tìm hiểu các mục quan trọng sau đây: <strong>Giới thiệu, Bài học, Trò chơi, Dự án, Cuộc thi, Diễn đàn.</strong>
<br><b>&nbsp&nbsp - Giới thiệu:</b> phần giúp các bạn có cái nhìn tổng quan về phân hệ Tynker. Đối với phần giới thiệu, các bạn sẽ được tóm tắt ngắn gọn và súc tích các nội dung kiến thức cần thiết và quan trọng mà các bạn sẽ được học trong khóa học. 
<br><b>&nbsp&nbsp - Bài học:</b> phần này là nơi trình bày các nội dung bài học của khóa học, bên cạnh đó, các bạn còn được trải nghiệm thêm nhiều hoạt động hấp dẫn – thú vị giúp việc tiếp thu kiến thức của bạn không quá nhàm chán như hoạt động xem video, hoạt động tương tác với bài học, … và còn nhiều hoạt động khác.
<br><b>&nbsp&nbsp - Trò chơi:</b> khi các bạn đã hoàn thành xong quá trình tiếp thu kiến thức, thì Trò chơi là nơi giúp các bạn thư giãn đồng thời giúp các bạn ôn lại kiến thức thông quan một số trò chơi được soạn sẵn bởi đội ngũ của VS-Pro. Với hình thức đa dạng phong phú về Trò chơi, phần nãy sẽ là phần thu hút sự chú ý của người dùng nhất.
<br><b>&nbsp&nbsp - Dự án:</b> để giúp các bạn tự tin và thể hiện sự sáng tạo trong việc tạo ra một số dự án cho riêng bản dựa trên hướng dẫn và dự án mẫu được nghiên cứu và biên soạn bở đội ngũ VS-Pro. 
<br><b>&nbsp&nbsp - Cuộc thi:</b> cuộc thi là nơi tạo ra một sân chơi lành mạnh và vui vẻ, nhằm giúp các bạn có cơ hội được trao đổi kiến thức cho nhau, cũng như giúp tạo ra sự cạnh tranh lành mạnh giữa các bạn với nhau. Với cuộc thi, các bạn sẽ phải giải quyết bài toàn được đặt ra sẵn.
<br><b>&nbsp&nbsp - Diễn đàn:</b> trong quá trình tiếp thu kiến thức, hoặc cuộc thi hoặc các vấn đề khác trong từng khóa học, người dùng có thể nhắn tin hỏi trực tiếp đội ngũ của VS-Pro. Với VS-Pro, các ý kiến của người dùng góp phần cải thiện hơn về mặt nội dung của từng khóa học. 
<br><br><span style="color:#cc6699;font-size:12pt"><strong>PHẦN ALICE3D:</strong></span> Alice là mội trường giúp lập trình trực quan hướng đối tượng dưới dạng 3D. Hiện nay, Alice là đang được học, nghiên cứu và phát triển tại trường đại học Carnegie Mellon University. Đối với Alice3D, là môn học lập trình trực quan hướng đối tượng dưới dạng 3D dành cho các bạn có đam mê về lập trình, có độ tuổi từ 12 – 16 tuổi. Thông qua phân hệ Alice3D, người dùng sẽ tìm hiểu các mục quan trọng sau đây: <strong>Giới thiệu, Bài học, Trò chơi, Dự án, Cuộc thi, Diễn đàn</strong>
<br><b>&nbsp&nbsp - Giới thiệu:</b> phần giúp các bạn có cái nhìn tổng quan về phân hệ Alice. Đối với phần giới thiệu, các bạn sẽ được tóm tắt ngắn gọn và súc tích các nội dung kiến thức cần thiết và quan trọng mà các bạn sẽ được học trong khóa học. 
<br><b>&nbsp&nbsp - Bài học:</b> phần này là nơi trình bày các nội dung bài học của khóa học, bên cạnh đó, các bạn còn được trải nghiệm thêm nhiều hoạt động hấp dẫn – thú vị giúp việc tiếp thu kiến thức của bạn không quá nhàm chán như hoạt động xem video, hoạt động tương tác với bài học, … và còn nhiều hoạt động khác.
<br><b>&nbsp&nbsp - Trò chơi:</b> khi các bạn đã hoàn thành xong quá trình tiếp thu kiến thức, thì Trò chơi là nơi giúp các bạn thư giãn đồng thời giúp các bạn ôn lại kiến thức thông quan một số trò chơi được soạn sẵn bởi đội ngũ của VS-Pro. Với hình thức đa dạng phong phú về Trò chơi, phần nãy sẽ là phần thu hút sự chú ý của người dùng nhất.
<br><b>&nbsp&nbsp - Dự án:</b> để giúp các bạn tự tin và thể hiện sự sáng tạo trong việc tạo ra một số dự án cho riêng bản dựa trên hướng dẫn và dự án mẫu được nghiên cứu và biên soạn bở đội ngũ VS-Pro. 
<br><b>&nbsp&nbsp - Cuộc thi:</b> cuộc thi là nơi tạo ra một sân chơi lành mạnh và vui vẻ, nhằm giúp các bạn có cơ hội được trao đổi kiến thức cho nhau, cũng như giúp tạo ra sự cạnh tranh lành mạnh giữa các bạn với nhau. Với cuộc thi, các bạn sẽ phải giải quyết bài toàn được đặt ra sẵn.
<br><b>&nbsp&nbsp - Diễn đàn:</b> trong quá trình tiếp thu kiến thức, hoặc cuộc thi hoặc các vấn đề khác trong từng khóa học, người dùng có thể nhắn tin hỏi trực tiếp đội ngũ của VS-Pro. Với VS-Pro, các ý kiến của người dùng góp phần cải thiện hơn về mặt nội dung của từng khóa học.
<br><br><span style="color:#cc6699;font-size:12pt"><strong>PHẦN ARDUINO:</strong></span> Chào mừng bạn đã đến với chuyên đề học tập trực tuyến của chúng tôi. ARDUINO – COMBO KỲ DIỆU hứa hẹn sẽ trở thành một nơi lý tưởng để những bạn có niềm đam mê khám phá thế giới lập trình phần cứng được tự do học tập, vui chơi và thõa sức tạo nên những điều tuyệt vời nhất từ chính các bạn. Đối với Arduino, là môn học lập trình hứa hẹn sẽ mang lại nhiều bất ngờ, hấp dẫn và thú vị dành cho các bạn có đam mê về lập trình, có độ tuổi từ 16 – 18 tuổi. Thông qua phân hệ Arduino, người dùng sẽ tìm hiểu các mục quan trọng sau đây:<strong> Giới thiệu, Bài học, Trò chơi, Dự án, Cuộc thi, Diễn đàn</strong>
<br><b>&nbsp&nbsp - Giới thiệu:</b> phần giúp các bạn có cái nhìn tổng quan về phân hệ Arduino. Đối với phần giới thiệu, các bạn sẽ được tóm tắt ngắn gọn và súc tích các nội dung kiến thức cần thiết và quan trọng mà các bạn sẽ được học trong khóa học. 
<br><b>&nbsp&nbsp - Bài học:</b> phần này là nơi trình bày các nội dung bài học của khóa học, bên cạnh đó, các bạn còn được trải nghiệm thêm nhiều hoạt động hấp dẫn – thú vị giúp việc tiếp thu kiến thức của bạn không quá nhàm chán như hoạt động xem video, hoạt động tương tác với bài học, … và còn nhiều hoạt động khác.
<br><b>&nbsp&nbsp - Trò chơi:</b> khi các bạn đã hoàn thành xong quá trình tiếp thu kiến thức, thì Trò chơi là nơi giúp các bạn thư giãn đồng thời giúp các bạn ôn lại kiến thức thông quan một số trò chơi được soạn sẵn bởi đội ngũ của VS-Pro. Với hình thức đa dạng phong phú về Trò chơi, phần nãy sẽ là phần thu hút sự chú ý của người dùng nhất.
<br><b>&nbsp&nbsp - Dự án:</b> để giúp các bạn tự tin và thể hiện sự sáng tạo trong việc tạo ra một số dự án cho riêng bản dựa trên hướng dẫn và dự án mẫu được nghiên cứu và biên soạn bở đội ngũ VS-Pro. 
<br><b>&nbsp&nbsp - Cuộc thi:</b> cuộc thi là nơi tạo ra một sân chơi lành mạnh và vui vẻ, nhằm giúp các bạn có cơ hội được trao đổi kiến thức cho nhau, cũng như giúp tạo ra sự cạnh tranh lành mạnh giữa các bạn với nhau. Với cuộc thi, các bạn sẽ phải giải quyết bài toàn được đặt ra sẵn.
<br><b>&nbsp&nbsp - Diễn đàn:</b> trong quá trình tiếp thu kiến thức, hoặc cuộc thi hoặc các vấn đề khác trong từng khóa học, người dùng có thể nhắn tin hỏi trực tiếp đội ngũ của VS-Pro. Với VS-Pro, các ý kiến của người dùng góp phần cải thiện hơn về mặt nội dung của từng khóa học.
<br><br><span style="color:#cc6699;font-size:12pt"><strong>PHẦN KHÓA HỌC:</strong></span> khóa học là nơi giúp các bạn có thể tìm hiểu thêm về những khóa học khác, ngoài ba khóa học chính là Tynker, Alice3D, Arduino. Với khóa học, người sẽ có nhiều cơ hội tiếp thu các nội dung kiến thức khác ở nhiều lĩnh vực hoặc bộ môn khác. Phần này sẽ rất có hữu ích cho người dùng, vì bên cạnh học được khóa học ban đầu, người dùng có thể học thêm một số khóa học khác
<br><br><span style="color:#cc6699;font-size:12pt"><strong>PHẦN CUỘC THI:</strong></span> cuộc thi là nơi tạo ra một sân chơi lành mạnh và vui vẻ, nhằm giúp các bạn có cơ hội được trao đổi kiến thức cho nhau, cũng như giúp tạo ra sự cạnh tranh lành mạnh giữa các bạn với nhau. Với cuộc thi, các bạn sẽ phải giải quyết bài toàn được đặt ra sẵn. Các bạn có thể trổ tài của mình để tham một trong các khóa học tại VS-Pro, hoặc có thể tham gia tất cả các khóa học nếu các bạn tin vào bản thân. 
<br><br><span style="color:#cc6699;font-size:12pt"><strong>PHẦN HỎI ĐÁP:</strong></span> trong quá trình tiếp thu kiến thức, hoặc cuộc thi hoặc các vấn đề khác trong từng khóa học, người dùng có thể nhắn tin hỏi trực tiếp đội ngũ của VS-Pro. Với VS-Pro, các ý kiến của người dùng góp phần cải thiện hơn về mặt nội dung của từng khóa học.
<br>&nbsp&nbsp - Bài viết chia sẻ
<br>&nbsp&nbsp - Hỏi đáp chuyên gia
<br>&nbsp&nbsp - Kết nối cộng đồng
<br><br><span style="color:#cc6699;font-size:12pt"><strong>PHẦN HỖ TRỢ:</strong></span>
<br>&nbsp&nbsp - Sơ đồ hệ thống
<br>&nbsp&nbsp - Hướng dẫn
<br>&nbsp&nbsp - Liên hệ

					
					</div>
				</div>
				<!--/row-->
			</div>







			
			<!--/container-->
		</div>
		<!--/bg_color_1-->
		
		<!--/hero_in-->

		
		<!-- /container -->

		



		</div>

		
		<!--/bg_color_1-->

		
		<!--/container-->

		
	{% endblock%}
	<!--/main-->
	