{% extends "homepage/base.html" %}
{% load static %}
{% block content %}
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>About VS-Pro</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2 style="text-align:center">Chuyên gia Hỗ Trợ</h2>
						<p style="text-align:center">Những Thành Viên Đã Hỗ Trợ Về Mặt Chuyên Môn Và Kỹ Thuật Để Tạo Dựng Nên VS-Pro</p>
				</div>
				<div class="row justify-content-between">
					<div >
						
						<p style="text-align:center"><strong>VS-PRO LEARING SYSTEM</strong> phát triển ổn định và đạt được nhiều thành tựu vượt bậc như hiện tại không chỉ là kết quả của quá trình làm việc năng động, sáng tạo và tâm huyết của nhóm sinh viên chúng tôi mà còn là thành quả từ sự hỗ trợ đắc lực của các chuyên gia phát triển có năng lực và tinh thần trách nhiệm cao đến từ Trung Tâm Tin Học (TTTH) của trường Đại học Sư Phạm TPHCM.</p>
						
					</div>
				</div>
				<!--/row-->
			</div>
		</div>

		<div class="container margin_120_95">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Cố Vấn Chuyên Môn</h2>
				<p>Những Giảng Viên hỗ trợ, cố vấn về các lĩnh vực chuyên môn</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6" align="rigth">
					<a class="box_feat" style="border-radius: 20%">	
						<img style="width: 150px;height: 150px; border-radius: 50%" src="/media/thLong.jpg">
						<div style="padding-top: 30px">
						<h3>T.S Lê Đức Long</h3>
						<p>Trưởng Bộ Môn Lý Luận Giảng Dạy tin học Khoa CNTT - Trường Đại Học Sư Phạm TP.HCM, giám đốc TTTH Trường Đại Học Sư Phạm TP.HCM</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6" align="rigth">
					<a class="box_feat" style="border-radius: 20%">	
						<img style="width: 150px;height: 150px; border-radius: 50%" src="/media/thLam.jpg">
						<div style="padding-top: 30px">
						<h3>Thầy Nguyễn Sơn Lâm</h3>
						<p>Giảng Viên trực thuộc TTTH Trường Đại Học Sư Phạm TP.HCM</p>
						<br>
						<br>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6" align="rigth">
					<a class="box_feat" style="border-radius: 20%">	
						<img style="width: 150px;height: 150px; border-radius: 50%" src="/media/cHoa.jpg">
						<div style="padding-top: 30px">
						<h3>Cô Nguyễn Thị Ngọc Hoa</h3>
						<p>Giảng Viên môn Lý Luận dạy học Tin học Khoa CNTT - Trường Đại học Sư Phạm TP.HCM</p>
						<br>
						</div>
					</a>
				</div>
				
				
			</div>
			<!--/row-->
		</div>
		<!-- /container -->


		<div class="container margin_120_95">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Bộ Phận Hỗ Trợ Chuyên Môn</h2>
				<p>Những Giảng Viên chuyên về nghiên cứu và hỗ trợ phát triển nội dung chuyên môn</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6" align="rigth">
					<a class="box_feat" style="border-radius: 20%">	
						<img style="width: 150px;height: 150px; border-radius: 50%" src="/media/cNhu.jpg">
						<div style="padding-top: 30px">
						<h3>Võ Diệp Như</h3>
						<p>CN Sư Phạm Tin Trường Đại Học Sư Phạm TPHCM, HVCH Khoa Học Máy Tính Trường Khoa Học Tự Nhiên</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6" align="rigth">
					<a class="box_feat" style="border-radius: 20%">	
						<img style="width: 150px;height: 150px; border-radius: 50%" src="/media/cLy.jpg">
						<div style="padding-top: 30px">
						<h3>Cô Nguyễn Thị Lý</h3>
						<p>CN Sư Phạm Tin Trường Đại Học Sư Phạm TPHCM, HVCH Khoa Học Máy Tính Trường Khoa Học Tự Nhiên</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6" align="rigth">
					<a class="box_feat" style="border-radius: 20%">	
						<img style="width: 150px;height: 150px; border-radius: 50%" src="/media/cBinh.jpg">
						<div style="padding-top: 30px">
						<h3>Cô Huỳnh Huệ Bình</h3>
						<p>CN Sư Phạm Tin Trường Đại Học Sư Phạm TPHCM</p>
						<br>
						</div>
					</a>
				</div>
				
			</div>
				<!--/row-->
		</div>


		<div class="container margin_120_95">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Bộ Phận Hỗ Trợ Kỹ Thuật</h2>
				<p>Những Giảng Viên chuyên hỗ trợ về các vấn đề và sự cố kỹ thuật</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6" align="rigth">
					<a class="box_feat" style="border-radius: 20%">	
						<img style="width: 150px;height: 150px; border-radius: 50%" src="/media/aNhan.jpg">
						<div style="padding-top: 30px">
						<h3>Thầy Lê Văn Nhân</h3>
						<p>CN Sư Phạm Tin Trường Đại Học Sư Phạm TPHCM, HVCH Khoa Học Máy Tính Trường Khoa Học Tự Nhiên</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6" align="rigth">
					<a class="box_feat" style="border-radius: 20%">	
						<img style="width: 150px;height: 150px; border-radius: 50%" src="/media/aNgoc.jpg">
						<div style="padding-top: 30px">
						<h3>Thầy Huỳnh Hồng Ngọc</h3>
						<p>CN Công Nghệ Thông Tin Trường Đại Học Tôn Đức Thắng</p>
						<br>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6" align="rigth">
					<a class="box_feat" style="border-radius: 20%">	
						<img style="width: 150px;height: 150px; border-radius: 50%" src="/media/aTuan.jpg">
						<div style="padding-top: 30px">
						<h3>Thầy Hoàng Minh Tuấn</h3>
						<p>CN Sư Phạm Tin Trường Đại Học Sư Phạm TPHCM, HVCH Khoa Học Máy Tính Trường Khoa Học Tự Nhiên</p>
						</div>
					</a>
				</div>
				
			</div>
			<!--/row-->
		</div>

		<div class="container margin_120_95">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Bộ Phận Thiết Hỗ Trợ Kế Đồ Họa</h2>
				<p>Những Giảng Viên chuyên hỗ trợ về việc tư vấn, góp ý thiết kế hình ảnh, video</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6" align="rigth">
					<a class="box_feat" style="border-radius: 20%">	
						<img style="width: 150px;height: 150px; border-radius: 50%" src="/media/aNgoc.jpg">
						<div style="padding-top: 30px">
						<h3>Thầy Huỳnh Hồng Ngọc</h3>
						<p>CN Công Nghệ Thông Tin Trường Đại Học Sư Phạm TPHCM</p>
						<br>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6" align="rigth">
					<a class="box_feat" style="border-radius: 20%">	
						<img style="width: 150px;height: 150px; border-radius: 50%" src="/media/cNhu.jpg">
						<div style="padding-top: 30px">
						<h3>Cô Võ Diệp Như</h3>
						<p>CN Sư Phạm Tin Trường Đại Học Sư Phạm TPHCM, HVCH Khoa Học Máy Tính Trường Khoa Học Tự Nhiên</p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6" align="rigth">
					<a class="box_feat" style="border-radius: 20%">	
						<img style="width: 150px;height: 150px; border-radius: 50%" src="/media/aNhan.jpg">
						<div style="padding-top: 30px">
						<h3>Thầy Lê Văn Nhân</h3>
						<p>CN Sư Phạm Tin Trường Đại Học Sư Phạm TPHCM, HVCH Khoa Học Máy Tính Trường Khoa Học Tự Nhiên</p>
						</div>
					</a>
				</div>
				
			</div>
			<!--/row-->
		</div>
			


		<!--/bg_color_1-->

		
		<!--/container-->
	{% endblock %}
	<!--/main-->