{% extends "homepage/base.html" %}
{% load static %}
{% block content %}
	<section id="hero_in" class="general" style="background: url('/media/bia04_moitruongchiaseduan.png');background-repeat: no-repeat;background-position: center;background-size: cover;">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp" style="font-family: Arial, Helvetica, sans-serif"><span></span>Hướng Dẫn Sử Dụng Web</h1>
				</div>
			</div>
		</section>


		<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2 style="text-align:center;font-family: Arial, Helvetica, sans-serif">Hướng dẫn sử dụng</h2>
					<p style="text-align:center font-family: Arial, Helvetica, sans-serif">Hệ Thống Dạy Học Lập Trình Trực Quan VS-Pro</p>
				</div>
				<div class="row justify-content-between">
					<div class="box_cart" style="padding-left:5%; padding-right:5%;width:100%">
						<section id="web-application">
								<embed src="/pdf/userguide" type="application/pdf" width="100%" height="600px" style="padding-bottom:100px"/>
								

							  </section>
					</div>
				</div>
				<!--/row-->
			</div>







			
			<!--/container-->
		</div>
		<!--/bg_color_1-->
		
		<!--/hero_in-->

		
		<!-- /container -->

		



		</div>

		
		<!--/bg_color_1-->

		
		<!--/container-->

		
	{% endblock%}
	<!--/main-->
	