{% extends "homepage/base.html" %}
{%load static%}
{% block content %}
<style>
	/*jssor slider loading skin spin css*/
	.jssorl-009-spin img {
		animation-name: jssorl-009-spin;
		animation-duration: 1.6s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes jssorl-009-spin {
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}

	/*jssor slider bullet skin 053 css*/
	.jssorb053 .i {position:absolute;cursor:pointer;}
	.jssorb053 .i .b {fill:#fff;fill-opacity:0.5;}
	.jssorb053 .i:hover .b {fill-opacity:.7;}
	.jssorb053 .iav .b {fill-opacity: 1;}
	.jssorb053 .i.idn {opacity:.3;}

	/*jssor slider arrow skin 093 css*/
	.jssora093 {display:block;position:absolute;cursor:pointer;}
	.jssora093 .c {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
	.jssora093 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
	.jssora093:hover {opacity:.8;}
	.jssora093.jssora093dn {opacity:.6;}
	.jssora093.jssora093ds {opacity:.3;pointer-events:none;}
</style>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Trực Quan Giúp Người Học Nâng Tầm Tri Thức</h1>
				</div>
			</div>
		</section>


		<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Tầm Nhìn</h2>
					<p>Những Điều Mà VS-Pro Luôn Hướng Tới</p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal" style="border-radius:20%"></div>
							<img src="http://www.werbewoche.ch/sites/default/files/inline-images/technologie_bild.png" class="img-fluid" alt="" style="width: 800px; height:340px">
						</figure>
					</div>
					<div class="col-lg-5">
						<p style="margin-bottom:10px; text-align: justify">Công nghệ Internet kết hợp với cuộc cách mạng thiết bị thông minh đang bước sang một giai đoạn mới - giai đoạn Internet vạn vật (IoT), yếu tố công nghệ hiện diện khắp mọi nơi & tham gia giải quyết hầu hết các vấn đề của xã hội hiện đại từ vấn đề chính trị , xã hội, công tác an ninh quốc phòng, Y tế và đặc biệt trong lĩnh vực giáo dục.</p>
						<p style="margin-bottom:10px; text-align: justify">Giáo dục trong thời đại mới gắn liền với tầm nhìn và sự phát triển chung của xã hội. Do đó, trong thời buổi phát triển của cách mạng công nghệ mới kéo theo sự ra đời của nhiều nghành  - bộ môn khoa học mới… đòi hỏi con người trong tương lai muốn học tập – vận dụng hay kế thừa đều phải có nền tảng kiến thức tin học – công nghệ nhất định. Điều đó đã trở thành tầm nhìn chiến lược phát triển giáo dục nói riêng và phát triển của xã hội nói chung. Chính vì thế mà điều đó trở thành kim chỉ nam – tầm nhìn chiến lược Để VSPro Learning System hình thành và phát triển.</p>
						
					</div>
				</div>
				<!--/row-->
			</div>


			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Sứ Mệnh</h2>
					<p>Những Mục Tiêu Và Nhiệm Vụ Của VS-Pro </p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-5">
						<p style="margin-bottom:10px; text-align:justify">Bắt nguồn từ tầm nhìn chiến lược là xây dựng nền tảng kiến thức tin học – công nghệ mới đáp ứng nhu cầu phát triển của của thời đại, hệ thống học tập trược tuyến VS-Pro của chúng tôi luôn cố gắng để hoàn thành và gửi đến các thầy cô , các em học sinh những lớp học  trực tuyến mới nhất có nội dung phổ cập những kiến thức về tin học – công nghệ mới mẻ , tạo tiền đề để các em học sinh có thể phần nào tiếp cận được với sự đổi mới trong phương pháp dạy  và học bộ môn tin học nói riêng và việc dạy học theo lối tích hợp kiến thức nói chung.</p>
						<p style="margin-bottom:10px; text-align:justify">Bên cạnh đó, VS-Pro hy vọng sẽ mở ra một cái nhìn hoàn toàn mới mẻ về phương pháp dạy- học lập trình trong mắt thầy cô giáo và cả các em học sinh. Hy vọng thông qua những bài học từ hệ thống của chúng tôi sẽ tạo ra được niềm vui, sự hứng thú giúp những buổi học tin học luôn là những ngày vui vẻ của các em học sinh và nhẹ nhàng thoải mái đối với giáo viên và mang đậm màu sắc sáng tạo của cả hai.</p>
						
					</div>
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal" >
							<div class="block-horizzontal" style="border-radius:20%"></div>
							<img src="http://www.crownlogisticsltd.com/wp-content/uploads/2015/06/mission-vision.png" class="img-fluid" alt="" style="width: 800px; height:380px">
						</figure>
					</div>
					
				</div>
				<!--/row-->
			</div>




			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Chiến Lược Phát Triển</h2>
					<p>Những Chiến Lược Mà VS-Pro Thực Hiện Để Phát Triển </p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-6 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal" style=" border-radius:20%"></div>
							<img src="http://hoangnguyen.edu.vn/wp-content/uploads/2018/08/kisspng-teamwork-illustration-team-work-vector-illustration-5a9bfa558a98a9.7874887715201716055677-542x400.png" class="img-fluid" alt="" style="width: 800px; height:350px">
						</figure>
					</div>
					<div class="col-lg-5">
						<p style="margin-bottom:2px; font-size:11pt; text-align:justify">Với tầm nhìn và sứ mệnh đặt ra , chúng tôi quyết tâm xây dựng và phát triển VS-Pro Learning System trở thành:
							<li style="padding-left:10px; text-align: justify;">Nơi cung cấp các chuyên đề dạy học lập trình trực quan hóa nhiều cấp bộ cho học sinh các cấp với hình thức phong  phú và nội dunng hấp dẫn.</li>
							<li style="padding-left:10px; text-align: justify;">Nơi để những nhà phát triển giáo dục, giáo viên hiện thực hóa ý tưởng giảng dạy của mình thông qua các khóa học được hỗ trợ xây dựng với hình thức trực quan và đảm bảo với khả năng kiểm tra đánh giá đa dạng.</li>
							<li style="padding-left:10px; text-align: justify;">Nơi cung cấp nguồn học liệu đa dạng về các chủ đề - phương pháp – dự án – trò chơi thuộc bộ môn Tin học.</li>
							<li style="padding-left:10px; text-align: justify;">Nơi cung cấp những tin tức công nghệ, kỹ thuật số mới nhất và được câp nhật liên tục đến những thành viên của VS-Pro.</li>
							<li style="padding-left:10px; text-align: justify;">Nơi diễn ra các cuộc thi với nhiều chủ đề đa dạng giúp học sinh tự do sáng tạo những sản phẩm của riêng mình và trình bày giới thiệu chúng đến tất cả mọi người.</li>
						{% comment %} <p style=" margin-bottom:6px"></p>
						<p style=" margin-bottom:3px; font-size:11pt; text-align:justify">VS-Pro hoạt động với khát vọng đem lại một môi trường học tập tích cực nhất và thay đổi cái nhìn của giáo viên cũng như học sinh về bộ môn Tin học. Với mong muốn góp một phần sức lực vào công cuộc xây dựng và đổi mới giáo dục.</p> {% endcomment %}
						
						</p>
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/container-->
	
	{% endblock %}
	<!--/main-->
	
	