<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Udema a modern educational site template">
  <meta name="author" content="Ansonika">
  <title>VS-PRO | Visual Programming Learning</title>

  <!-- Favicons-->
  <link rel="shortcut icon" href="{% static 'homepage/img/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'homepage/img/apple-touch-icon-57x57-precomposed.png' %}">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'homepage/img/apple-touch-icon-72x72-precomposed.png' %}">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'homepage/img/apple-touch-icon-114x114-precomposed.png' %}">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'homepage/img/apple-touch-icon-144x144-precomposed.png' %}">

  <!-- BASE CSS -->
  <link href="{% static 'homepage/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/css/vendors.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/css/icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">

  <!-- SPECIFIC CSS -->
  <link href="{% static 'homepage/css/skins/square/grey.css' %}" rel="stylesheet">

  <!-- YOUR CUSTOM CSS -->

  <link href="{% static 'homepage/css/custom.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- NProgress -->
  <link href="{% static 'homepage/vendors/nprogress/nprogress.css' %}" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="{% static 'homepage/build/css/custom.min.css' %}" rel="stylesheet">

  <!-- Font Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>


 
   <!-- CK-EDITOR -->
    <link href="{% static 'ckeditor/ckeditor_uploader/admin_base.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <!--Sort -->
    <script src="{% static 'homepage/js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'homepage/js/jquery-ui.js' %}"></script>
    <script>

		$( function() {
			$( "#sortable" ).sortable();
			$( "#sortable" ).disableSelection();
		} );
	</script>
       
</head>

<body class="nav-md" style="background: #121921;">
	
	<div id="page" class="theia-exception" style="height: auto;min-height: 600px">
		
    <header class="header menu_2">
			<div id="preloader"><div data-loader="circle-side"></div></div><!-- /Preload -->
			<div id="logo">
				<a href="{% url 'homepage:index' %}"><img src="{% static 'homepage/img/logo_2x.png' %}" width="149" height="42" data-retina="true" alt=""></a>
			</div>
			<ul id="top_menu">
				<li><a href="login.html" class="login">Login</a></li>
				<li><a href="#0" class="search-overlay-menu-btn">Search</a></li>
				<li class="hidden_tablet"><a href="admission.html" class="btn_1 rounded">Admission</a></li>
			</ul>
			<!-- /top_menu -->
			<a href="#menu" class="btn_mobile">
				<div class="hamburger hamburger--spin" id="hamburger">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</a>
			<nav id="menu" class="main-menu" style="padding-right:50px">
				<ul>
					<li><span><a href="#0">Giới Thiệu</a></span>
						<ul>
							<li><a href="{% url 'homepage:introduction' %}"><i class="fa fa-globe" style="font-size:14pt"></i>&nbsp&nbsp Tổng Quan</a></li>
							<li><a href="{% url 'homepage:vision' %}"><i class="fa fa-heartbeat" style="font-size:14pt"></i>&nbsp&nbsp Sứ Mệnh</a></li>
							<li><a href="{% url 'homepage:team' %}"><i class="fa fa-group" style="font-size:14pt"></i>&nbsp Chuyên gia</a></li>
							<li><a href="{% url 'homepage:aboutus' %}"><i class="fa fa-id-badge" style="font-size:14pt"></i>&nbsp &nbsp Về Chúng Tôi</a></li>
							{% comment %} <li><a href="contacts.html">Liên Hệ</a></li> {% endcomment %}
						</ul>
					</li>

					<li><span><a href="#0">Tynker</a></span>
						<ul>
							<li><a href="{% url 'course:coursedetail' 1 %}"><i class="fas fa-clone" style="font-size:14pt"></i>&nbsp Giới Thiệu</a></li>
							<li><a href="{% url 'course:coursechapter' 1 %}"><i class="fas fa-book-open" style="font-size:14pt"></i>&nbsp Bài Học</a></li>
							<li><a href="{% url 'usergame:gamelist' 1 %}"><i class="fa fa-cubes" style="font-size:14pt"></i>&nbsp Trò Chơi</a></li>
							<li><a href="{% url 'userprojectshare:projectshare' %}"><i class="fas fa-file-alt" style="font-size:14pt"></i>&nbsp&nbsp Dự Án</a></li>
							<li><a href="{% url 'usercompetition:competitionenvironment' 1 %}"><i class="fas fa-award" style="font-size:14pt"></i>&nbsp&nbsp Cuộc Thi</a></li>
							<li><a href="{% url 'course:userforumcourse' 1 %}"><i class="fa fa-comments" style="font-size:14pt"></i> Diễn Đàn</a></li>
							
						</ul>
					</li>

					<li><span><a href="#0">Alice3D</a></span>
						<ul>
							<li><a href="{% url 'course:coursedetail' 2 %}"><i class="fas fa-clone" style="font-size:14pt"></i>&nbsp Giới Thiệu</a></li>
							<li><a href="{% url 'course:coursechapter' 2 %}"><i class="fas fa-book-open" style="font-size:14pt"></i> Bài Học</a></li>
							<li><a href="{% url 'usergame:gamelist' 2 %}"><i class="fa fa-cubes" style="font-size:14pt"></i>&nbsp Trò Chơi</a></li>
							<li><a href="{% url 'userprojectshare:projectshare' %}"><i class="fas fa-file-alt" style="font-size:14pt"></i>&nbsp Dự Án</a></li>
							<li><a href="{% url 'usercompetition:competitionenvironment' 2 %}"><i class="fas fa-award" style="font-size:14pt"></i>&nbsp Cuộc Thi</a></li>
							<li><a href="{% url 'course:userforumcourse' 2 %}"><i class="fa fa-comments" style="font-size:14pt"></i> Diễn Đàn</a></li>
							
						</ul>
					</li>

					<li><span><a href="#0">Arduino</a></span>
						<ul>
							<li><a href="{% url 'course:coursedetail' 3 %}"><i class="fas fa-clone" style="font-size:14pt"></i>&nbsp&nbsp Giới Thiệu</a></li>
							<li><a href="{% url 'course:coursechapter' 3 %}"><i class="fas fa-book-open" style="font-size:14pt"></i>&nbsp Bài Học</a></li>
							<li><a href="{% url 'usergame:gamelist' 3 %}"><i class="fa fa-cubes" style="font-size:14pt"></i>&nbsp Trò Chơi</a></li>
							<li><a href="{% url 'userprojectshare:projectshare' %}"><i class="	fas fa-file-alt" style="font-size:14pt"></i>&nbsp&nbsp Dự Án</a></li>
							<li><a href="{% url 'course:userforumcourse' 3 %}"><i class="fa fa-comments" style="font-size:14pt"></i> Diễn Đàn</a></li>
							<li><a href="#"><i class="fas fa-file" style="font-size:14pt"></i>&nbsp&nbsp Tài Nguyên</a></li>
							
						</ul>
					</li>
					<li><span><a href="#0">Khóa Học</a></span>
						<ul>
							<li><a href="{% url 'course:showsubjectcate' 1 %}"><i class="fa fa-database" style="font-size:14pt"></i>&nbsp Môi Trường Tynker</a></li>
							<li><a href="{% url 'course:showsubjectcate' 2 %}"><i class="fa fa-database" style="font-size:14pt"></i>&nbsp Môi Trường Alice 3D</a></li>
							<li><a href="{% url 'course:showsubjectcate' 3 %}"><i class="fa fa-database" style="font-size:14pt"></i>&nbsp Môi Trường Arduino</a></li>
							<li><a href="courses-grid-sidebar.html"><i class="fa fa-ellipsis-v" style="font-size:14pt"></i>&nbsp &nbsp Môi Trường Khác...</a></li>
						</ul>
					</li>
					
				<li><span><a href="#0">Cuộc Thi</a></span>
						<ul>
							{% comment %} <li><a href="#"><i class="fa fa-map" style="font-size:14pt"></i>&nbsp Chia Sẻ</a></li> {% endcomment %}
							<li><a href="{% url 'usercompetition:competitionenvironment' 1 %}"><i class="fa fa-paper-plane" style="font-size:14pt"></i>&nbsp Môi Trường Tynker</a></li>
							<li><a href="{% url 'usercompetition:competitionenvironment' 2 %}"><i class="fa fa-paper-plane" style="font-size:14pt"></i>&nbsp Môi Trường Alice 3D</a></li>
							<li><a href="{% url 'usercompetition:competitionenvironment' 3 %}"><i class="fa fa-paper-plane" style="font-size:14pt"></i>&nbsp Môi Trường Arduino</a></li>
							<li><a href="#"><i class="fa fa-ellipsis-v" style="font-size:14pt"></i>&nbsp&nbsp &nbsp Môi Trường Khác...</a></li>
						</ul>
					</li>

					<li><span><a href="#0">Hỏi Đáp</a></span>
						<ul>
							<li><a href="{% url 'userprojectshare:projectshare' %}"><i class="fa fa-file-alt" style="font-size:14pt"></i>&nbsp  Dự Án Chia Sẻ</a></li>
							<li><a href="{% url 'userforum:userforum' %}"><i class="fa fa-question-circle" style="font-size:14pt"></i>&nbsp Hỏi Đáp Chuyên Gia</a></li>
							<li><a href="{% url 'userforum:fastchat' %}"><i class="fa fa-recycle" style="font-size:14pt"></i> Kết Nối Cộng Đồng</a></li>
						</ul>
					</li>

					<li><span><a href="#0">Hỗ Trợ</a></span>
						<ul>
						<li><a href="{% url 'homepage:sitemap' %}"><i class="fa fa-sitemap" style="font-size:14pt"></i>&nbsp Sơ Đồ Hệ Thống</a></li>
							<li><a href="{% url 'homepage:userguide' %}"><i class="fa fa-map-signs" style="font-size:14pt"></i>&nbsp Hướng Dẫn</a></li>
							<li><a href="{% url 'homepage:contact' %}"><i class="fa fa-phone" style="font-size:14pt"></i>&nbsp Liên Hệ</a></li>
						</ul>
					</li>
					
					<li><span style="border-color: #FFC107">
							<a href="#0" style="border-color: #FFC107">
							<img src="{{account.avatar}}" alt="Avatar" style="width:40px;height:40px;border-radius:50%;display:inline">
								{{account.username}}
							</a>
						</span>
						<ul>
							
							{% comment %} <li><a href="{% url 'homepage:profile' account.accountid %}">Chỉnh Sửa Tài Khoản</a></li> {% endcomment %}
							
							<li><a href="{% url 'course:dashboard' %}"><i class="fa fa-hdd-o" style="font-size:14pt"></i>&nbsp Tiến Trình</a></li>
							<li><a href="{% url 'homepage:myprofile' account.accountid %}"><i class="fa fa-id-badge" style="font-size:14pt"></i>&nbsp&nbsp Hồ Sơ</a></li>
							

							{% if account.accounttypeid.accounttypeid == 1 %}
              				<!--DO SOMETHING WITH ADMIN ACCOUNT-->
							<li><a href="{% url 'course:managecourse' %}"><i class="fa fa-cog" style="font-size:14pt"></i>&nbsp Quản Lý</a></li>
							{% endif %}
							
							{% if account.accounttypeid.accounttypeid == 2 %}
								<li><a href="{% url 'course:managecourse' %}"><i class="fa fa-cog" style="font-size:14pt"></i>&nbsp&nbsp Quản Lý</a></li>
							{% endif %}

							<li><a href="{% url 'homepage:logout' %}"><i class="fa fa-share" style="font-size:14pt"></i>&nbsp Đăng Xuất</a></li>

							{% comment %} <li><a href="{% url 'course:mycourse' %}">Khóa Học Của Tôi</a></li>
							<li><a href="{% url 'course:dashboard' %}">Hoạt Động Gần Đây</a></li>
							<li><a href="{% url 'homepage:logout' %}">Đăng Xuất</a></li> {% endcomment %}
						</ul>
					</li>
					

			</ul>
		</nav>
		<!-- Search Menu -->
		<div class="search-overlay-menu">
			<span class="search-overlay-close"><span class="closebt"><i class="ti-close"></i></span></span>
			<form role="search" id="searchform" method="get">
				<input value="" name="q" type="search" placeholder="Search..." />
				<button type="submit"><i class="icon_search"></i>
				</button>
			</form>
		</div><!-- End Search Menu -->
	</header>
	<!-- /header -->
    
  </header>
  <!-- /header -->

  <main>
    <section id="hero_in" class="courses">
     <div class="wrapper">
      <div class="container">
        <h1 class="fadeInUp">Quản lý hoạt động<span></span><small style="font-size:21pt">{{item.itemname}}</small></h1>
    
     </div>
   </div>
 </section>
 <!--/hero_in-->

 <div class="filters_listing sticky_horizontal">

<!-- /container -->
</div>
<!-- /filters -->

<div class="container body" style="margin-left: 8%;margin-top: 15px;height: auto;min-height: 700px;">
  <div class="main_container" style="height: auto;min-height: 700px;">

     <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3 style="color: #990099;padding-left: 0.1%">DANH SÁCH HOẠT ĐỘNG</h3>
          </div>

          
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12">
            <div class="x_panel" style="width: 100%;height:auto;">
              <div class="x_title">
                  {% comment %} <p style="padding-left:80%;padding-top:1%;font-size:1em" class="text-center"><a href="{% url 'course:courseedit' subject.subjectid %}" class="btn_1 rounded"><i class="fa fa-edit"></i>&nbspTổng Quan Khóa Học</a></p> {% endcomment %}
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                  </li>
                  <li>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content" align="center">
              
               
               
                <ul id="sortable">
                 {% for activity in activities %}
                  <li class="sort" id="{{activity.activityid}}">
                    <!-- content con-->
                      <div class="x_panel" style="width: 100%;height:auto;box-shadow: 5px 10px 8px #888888;background: url(/media/Kidprogram.png)">
                          <div class="x_title">
                              <h2 style="font-size: 1.8em; color: #ff0066; text-align: center; font-family: 'Marvel', sans-serif;">
                              {{activity.activityname}}</h2>
                              <ul class="nav navbar-right panel_toolbox">
                              <li><a href="{% url 'course:activityedit' idsub=subject.subjectid idchap=chapter.chapterid idles=lesson.lessonid iditem=item.itemid idact=activity.activityid %}" ><i class="fa fa-edit" style="font-size:13.5pt;color:#800080;">Tổng quan</i></a>
                              <li><a href="{% url 'course:deleteactivity' activity.activityid %}" ><i class="fa fa-trash" style="font-size:13.5pt;color:#800080;"> Xóa</i></a>
                              </li>
                              <li class="dropdown">
                              </li>
                              <li>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          {% comment %} <div class="x_content" align="left" style="padding-left:60px">
                          <p style="color:black">{{activity.description| safe}}</p>
                          </div> {% endcomment %}
                        </div>
                    <!-- content con-->
                    
                  </li>
                  {% endfor %}
                
                </ul>
              <!--Add chap-->
             
                      <!-- content con-->
                       <a href="{% url 'course:activitycreate' idsub=subject.subjectid idchap=chapter.chapterid idles=lesson.lessonid iditem=item.itemid %}"> <div class="x_panel" style="width: 100%;height:auto;box-shadow: 5px 10px 8px #888888;background: url(/media/add1.png);background-repeat: no-repeat;background-position: center;">
                            <div>
                                <h2 style="font-size: 2em; color: #1ac6ff; text-align: center; font-family: 'Marvel', sans-serif;">
                                       &nbsp </h2>
                              <ul class="nav navbar-right panel_toolbox">
                                
                                </li>
                                <li class="dropdown">
              
                                </li>
                                <li>
                                </li>
                              </ul>
                             
                            </div>
                            <div class="x_content" align="left" style="padding-left:60px">
                            <p>  </p>
                            </div>
                          </div></a>
                      <!-- content con-->
                      <br><br> <br>
                <button style="" class="btn_1" onclick="getorder()">Xác nhận thay đổi</button>
                <a href="{% url 'course:courseoverview' subject.subjectid %}" class="btn_1">Quay về</a>
              
              
              </div>
            </div>

          </div>
        </div>
      </div>

    <!-- /page content -->

    <!-- footer content -->

    <!-- /footer content -->

  </div>

</main>
<!--/main-->


<!--/footer-->
</div>
<div style="padding-top: 50px">
 <!-- page -->
 <footer style="margin-left:0px;height: 557px;background-color:#121921;">
  <div class="container margin_120_95" style="width: 100%;height: auto;margin-top: 50px;background-color: #121921;margin-left: 178px;">
   <div class="row">
    <div class="col-lg-5 col-md-12 p-r-5">
     <p><img src="{% static 'homepage/img/logo_2x.png' %}" width="149" height="42" data-retina="true" alt=""></p>
     <p >Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea. Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu. Nihil facilisi indoctum an vix, ut delectus expetendis vis.</p>
     <div class="follow_us">
      <ul>
       <li>Follow us</li>
       <li><a href="#0"><i class="ti-facebook"></i></a></li>
       <li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
       <li><a href="#0"><i class="ti-google"></i></a></li>
       <li><a href="#0"><i class="ti-pinterest"></i></a></li>
       <li><a href="#0"><i class="ti-instagram"></i></a></li>
     </ul>
   </div>
 </div>
 <div class="col-lg-3 col-md-6 ml-lg-auto">
   <h5>Useful links</h5>
   <ul class="links">
    <li><a href="#0">Admission</a></li>
    <li><a href="#0">About</a></li>
    <li><a href="#0">Login</a></li>
    <li><a href="#0">Register</a></li>
    <li><a href="#0">News &amp; Events</a></li>
    <li><a href="#0">Contacts</a></li>
  </ul>
</div>
<div class="col-lg-3 col-md-6">
 <h5>Contact with Us</h5>
 <ul class="contacts">
  <li><a href="tel://61280932400"><i class="ti-mobile"></i> + 61 23 8093 3400</a></li>
  <li><a href="mailto:info@udema.com"><i class="ti-email"></i> info@udema.com</a></li>
</ul>
<div id="newsletter">
 <h6>Newsletter</h6>
 <div id="message-newsletter"></div>
 <form method="post" action="assets/newsletter.php" name="newsletter_form" id="newsletter_form">
  <div class="form-group">
   <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Your email">
   <input type="submit" value="Submit" id="submit-newsletter">
 </div>
</form>
</div>
</div>
</div>
<!--/row-->
<hr>
<div class="row">
  <div class="col-md-8">
   <ul id="additional_links">
    <li><a href="#0">Terms and conditions</a></li>
    <li><a href="#0">Privacy</a></li>
  </ul>
</div>
<div class="col-md-4">
 <div id="copy">© 2017 Udema</div>
</div>
</div>
</div>
</footer>
</div>
<!-- COMMON SCRIPTS -->
<input id="iditem" style="display:none;" type='text' value="{{item.itemid}}">
<script>
		function getorder()
		{
			var arrli= $(".sort");
			for(var i=0;i<arrli.length;i++)
			{
				console.log(i);
				console.log(arrli[i].id);
        $.ajax({
          url : '/ajax/sortact',
          data: {
            'order': i+1,
            'actid':arrli[i].id,
          },
          dataType: 'json',
          success: function(data){

          }
        })
			}
      setTimeout(next, 200);
		}
    function next(){
      var iditem = $("#iditem").val();
      var ulid  = $("#sortable");
                  $.ajax({
                      url : '/ajax/aftersortact',
                      data: {
                        'iditem':iditem
                      },
                      dataType: 'json',
                      success: function(data){
                        ulid.html(data.s);
                      }
                    })
    }
    </script>
   
<script src="{% static 'homepage/js/main.js' %}"></script>
<script src="{% static 'homepage/assets/validate.js' %}"></script>'


<!-- Bootstrap -->
<script src="{% static 'homepage/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'homepage/vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'homepage/vendors/nprogress/nprogress.js' %}"></script>

<!-- Custom Theme Scripts -->
<script src="{% static 'homepage/build/js/custom.min.js' %}"></script>

</body>
</html>